.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}



.home_start a:hover {
  color: blue;
}


.logo {
  width: 320px;
  height: 320px;
  animation: blink 0.8s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0.6
  }

  to {
    opacity: 1
  }
}

.links {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-align: center;
  border-radius: 10px;
  width: 150px;
  padding: 10px 20px;
  margin: 5px 0;
}

.links>* {
  transition: all 0.3s;
}

.links :nth-child(1) {
  background: var(--customBlue);
  color: #fff;
}

.links :nth-child(1):hover {
  background: #fff;
  color: var(--customBlue);
}

.links :nth-child(2) {
  border: 1px solid var(--customBlue);
  color: var(--customBlue);
}

.links :nth-child(2):hover {
  background: var(--customBlue);
  color: var(--darkBG);
}

.links :nth-child(4) {
  background: #fff;
  color: var(--customBlue)
}

.links :nth-child(4):hover {
  background: var(--customBlue);
  color: var(--darkBG);
}