.header img {
  width: 100%;
  max-width: 1440px;
  height: auto;
}

.header img {
  filter: brightness(50%);
}

.chrono {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  bottom: 10rem;
}

.homeBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.shuffleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  border: 5px solid var(--customBlue);
  color: var(--customBlue);
}

.shuffleBtn img {
  width: 80px;
  height: 80px;
}