:root {
  --customBlue: #4F75FF;
  --customGreen: #75FF73;
  --customYellow: #F5FF70;
  --customPink: #FF73A2;
  --customRed: #da171c;
  --darkBG: #242424;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--darkBG);
  color: #fff;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  border: none;
}