/* TIMER */

.animglow {
  animation: glow 0.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px 0px var(--customBlue);
  }

  to {
    box-shadow: 0 0 20px 20px #7351cf;
  }
}


.containerChrono {
  width: 250px;
  height: 250px;
  position: relative;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}


.time {
  font-size: 60px;
  color: #fff;
}

.containerControllers {
  position: absolute;
  display: flex;
  top: 250px;
  left: 16%;
}

.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  border: none;
}

.startBtn {
  border: 5px solid var(--customGreen);
  color: var(--customGreen);
}

.startBtn:disabled {
  border: 5px solid #75ff737d;
  color: #75ff737d;
}

.resetBtn {
  border: 5px solid var(--customPink);
  color: var(--customPink);
}

.circle {
  width: 270px;
  height: 270px;
  transform-origin: center;
  transform: rotate(-90deg);
  position: absolute;
  bottom: -10px;
  right: -10px;
}