.animglow {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px 0px #f4b0ae;
  }

  to {
    box-shadow: 0 0 20px 20px #7351cf;
  }
}



.containerChrono {
  width: 250px;
  height: 250px;
  position: relative;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.time {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  color: blue;
}

.containerControllers {
  position: absolute;
  display: flex;
  top: 250px;
  left: 16%;
}

.containerControllers button {
  padding: 10px 15px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background: #f1f1f1;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 6px #4a64d8;
  border: 3px solid #4a64d8;

}

.containerControllers button:active {
  box-shadow: 0 0px #4a64d8;
  top: 6px;
}

.containerControllers img {
  width: 50px;
  height: 50px;
}

.circle {
  width: 270px;
  height: 270px;

  transform-origin: center;
  transform: rotate(-90deg);
  position: absolute;
  bottom: -10px;
  right: -10px;


}