.anim-glow {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px 0px #f4b0ae;
  }

  to {
    box-shadow: 0 0 20px 20px #7351cf;
  }
}


.box-btns button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 50px;
  border: 3px solid #4a64d8;
  background: #f1f1f1;
  position: relative;
  box-shadow: 0 6px #4a64d8;
  color: #4a64d8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



.box-btns span {
  font-size: 35px;
  font-weight: bold;
  color: #4a64d8;
  margin: 0 15px;
}

.container-chrono {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
}

.container-controllers {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0;

}

.time {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  color: blue;
}

.container-controllers button {
  padding: 10px 15px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background: #f1f1f1;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 6px #4a64d8;
  border: 3px solid #4a64d8;
}

.container-controllers button:active {
  box-shadow: 0 0px #4a64d8;
  top: 6px;
}

.container-controllers img {
  width: 50px;
  height: 50px;
}